body, html {
    width: 100%;
    height: 100%;
    background-color: rgb(28, 26, 26);
    display: flex;
    flex-direction: column;
    align-items: center
}

h1 {
    text-shadow: 1px 2px 1px grey;
    text-align: center;
}

.vertical .width100 {
    width: 100%;
    box-sizing: border-box;
}

.box {
    border: 4px solid #4e4537;
    box-shadow: 0 6px 12px black;
    padding: 4px;
    margin: 5px;
    background-color: lightgrey;
    text-align: center;
}
.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center top
}

.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#starting, #ending {
    padding: 10px;
}