body, html {
    width: 100%;
    height: 100%;
    background-color: rgb(28, 26, 26);
    display: flex;
    flex-direction: column;
    align-items: center
}

h1 {
    text-shadow: 1px 2px 1px grey;
    text-align: center;
}

.fit-text {
    width:fit-content;
    height:fit-content;
}

.vertical .width100 {
    width: 100%;
    box-sizing: border-box;
}

.box {
    border: 4px solid #4e4537;
    box-shadow: 0 6px 12px black;
    padding: 4px;
    margin: 5px;
    background-color: lightgrey;
    text-align: center;
    transition: opacity 1s, margin-top 0.5s ease-in-out;
    opacity: 1;
}

button {
    color: black;
    background-color: transparent;
    border: 2px solid #4e4537;
    border-radius: 4px;
    transition: all 0.5s;
    font-size: 15px;
    border-width: 4px;
    cursor:pointer;
    margin-bottom: 0;
}

button:hover {
    box-shadow: 0px 0px 20px white;
    background-color: whitesmoke;
}

button:disabled {
    cursor: not-allowed;
    color: grey;
    background-color: transparent
}

input {
    border: 2px solid grey;
    margin: 2px;
    box-shadow: 0px 0px 5px white;

}

.greenbox {
    border: 4px solid #13932b;
    box-shadow: 0 6px 12px rgb(74, 147, 66);
    padding: 4px;
    margin: 5px;
    background-color: rgb(140, 195, 144);
    text-align: center;
}

.redbox {
    border: 4px solid #c91f05;
    box-shadow: 0 6px 12px rgb(131, 41, 41);
    padding: 4px;
    margin: 5px;
    background-color: rgb(225, 126, 126);
    text-align: center;
}

.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center top
}

.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#starting, #ending {
    padding: 10px;
}

.hidden {
    opacity: 0;
    transition: opacity 1s;
    visibility: hidden;
}


#limit-box {
    width: 94%;
    box-sizing: border-box;
    padding: 10px;
}

@media (min-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
        padding: 5px;
    }
}