html, body {
    height: 100%;
    width: 100%;
    background: #1a1a1a;
    align-items: center;
    font-family: 'Georgia', serif;
    color: #ddd3c1;
}

.bg-box {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 1rem;
    background-color: #2b2a28;
    border: 1px solid #5a4f3f;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
}
h2, h1, select {
    font-family: 'Playfair Display', 'Roboto Slab', Georgia, serif;
    font-size: 32px;
    font-weight: 400;
    color: #f7f2e0;
    margin: 0px;
    margin-bottom: 0.5rem;
    text-shadow: 1px 1px 2px black;
}
.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    gap: 1rem;
    box-sizing: border-box;
    padding: 1rem;
}

.bordered {
    height: 96%;
    width: 100%;
    background-color: #3b3935;
    border: 2px solid #8a7c64;
    box-shadow: inset 0 0 10px #1f1d1b;
    box-sizing: border-box;
    overflow: auto;
    padding: 1rem;
}

.box {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    background-color: #5a5142;
    color: #f4eadd;
    padding: 1.5rem;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.4);
}

.main {
    display:flex;
    flex-direction:row;
    flex:65
}
.extras {
    display:flex;
    flex-direction:row;
    flex:35
}
ul {
    list-style-type: none;
    padding: 0;
    max-width: 600px;
    margin: 20px auto;
}
li {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
    color:black;
    justify-content: space-between;
    align-items: center;
}
li.done span {
    text-decoration: line-through;
    color: green;
}
.task-text {
    flex: 1;
    padding-right: 10px;
}
.done-btn {
    margin-left: 10px;
}

#drop-area {
    border: 2px dashed #aaa;
    padding: 20px;
    margin: 10px;
    text-align: center;
    background-color: #f9f9f9;
    cursor: pointer;
}

#drop-area.hover {
    background-color: #e0ffe0;
}
.drop {
    color:black;
}

#sticker-gallery img {
    max-width: 100px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

#drop-popup {
    color:black;
    background: white;
    padding: 40px;
    border: 4px dashed #888;
    font-size: 1.5em;
    color: #333;
    border-radius: 10px;
    text-align: center;
}